/* by vitorgga */
a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: none;
}

.compact {
	white-space:nowrap;
	text-overflow: ellipsis; /* for internet explorer */
	overflow:hidden;
}

hr {
	border: 1px solid #F5F5F5;
	height: 1px;
}

button {
	cursor: pointer; cursor: hand;
	margin: 0px 2px;
}
button img {
	vertical-align: middle;
}

html {
	overflow-y: scroll; 
}

body {
	margin: 0;
	background: #FFFFFF;
	height: 100%;
}

img
{
	border: 0px solid #CCCCCC;
}

.mm {
	vertical-align: middle; 
}

.mb
{
	vertical-align: baseline;
}

.mt {
	vertical-align: top;
}

.dedo {
	cursor: pointer;
	cursor: hand;
}

.png
{
	behavior: url("framework/iepngfix.htc");
	border: 0px;
}

body, table, input, textarea, select, button {
	font-family: Arial;
	font-size: 9pt;
	color: #000000;
}

h1, h2, h3, h4, h5, h6, form, p {
	margin: 0px;
}